 <!-- Mostrar comentarios existentes -->
    <strong class="text-body-secondary">Comentarios</strong>
    <% sorted_comments = article.comments.sort_by { |comment| comment.created_at }.reverse %>
    <% sorted_comments.each do |comment| %>
    <div class="container ">
        <p class="m-0">
           <strong><%= comment.user.try(:name) %>:</strong>
        </p>
        <p class="m-0">
            <%= comment.content %>  
        </p >
        <small class="text-body-secondary text-end mb-2">
         <%= time_ago_in_words(comment.created_at) %> ago.
        </small>
    </div>
    <% end %>